<div class="content">
  <div class="ui middle aligned selection list">
    <div class="item">
      <img class="ui avatar2 mini image" src="https://static1.squarespace.com/static/53ff006ae4b0864b57bb1e6f/5799957ad2b857eb5afcee91/579c1c59d1758eb537a4eb30/1478015187675/IMG_6493-kopia.jpg?format=500w">
      <div class="content" style="width:80%;">
        <div class="header">6 tapet / 6 wallpapers - "Yosemite, USA"</div>
      </div>
      <div class="content floated left divider clearing" style="margin-top:5px"><div class="ui mini green button">Buy Now ($1.00)</div></div>
    </div>
    <div class="item">
      <img class="ui avatar2 mini image" src="https://static1.squarespace.com/static/53ff006ae4b0864b57bb1e6f/5799957ad2b857eb5afcee91/579c6ce7ff7c50691db61703/1478015231804/IMG_6168-kopia.jpg?format=500w">
      <div class="content" style="width:80%;">
        <div class="header">6 tapet / 6 wallpapers - "Australia, AU"</div>
      </div>
      <div class="content floated left divider clearing" style="margin-top:5px"><div class="ui mini green button">Buy Now ($1.00)</div></div>
    </div>
    <div class="item">
      <img class="ui avatar2 mini image" src="https://static1.squarespace.com/static/53ff006ae4b0864b57bb1e6f/5799957ad2b857eb5afcee91/5799a026b3db2b0bb49da1fe/1478015175968/nowy+jork-kopia.jpg?format=500w">
      <div class="content" style="width:80%;">
        <div class="header">6 tapet / 6 wallpapers - "Australia, AU"</div>
      </div>
      <div class="content floated left divider clearing" style="margin-top:5px"><div class="ui mini green button">Buy Now ($1.00)</div></div>
    </div>
  </div>          
</div>