* {
  outline: none!important;
}
.shadow-subtle {
  box-shadow: 0 0 1px 1px rgba(31, 45, 61, .15)
}

.shadow-close {
  box-shadow: 0 1px 2px 0 rgba(31, 45, 61, .15)
}

.shadow-distant {
  box-shadow: 0 2px 8px rgba(31, 45, 61, .05)
}

.shadow-emboss {
  box-shadow: inset 0 -2px 0 rgba(31, 45, 61, .15)
}

.shadow-deboss {
  box-shadow: inset 0 2px 0 rgba(31, 45, 61, .15)
}

.shadow-raise {
  box-shadow: 0 1px 1px 0 rgba(31, 45, 61, .05)
}

.shadow-depress {
  box-shadow: inset 0 1px 1px 0 rgba(31, 45, 61, .05)
}

ul.list-actions {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.list-actions li {
  border-top: 1px solid #F1F0F0;
  border-bottom: 1px solid #F1F0F0;
  background: white;
  padding: 10px;
  font-size: 15px;
  color: #0084FF;
  text-align: center;
  cursor: pointer;
}

ul.list-actions li:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 25px;
  border-bottom: 0;
  width: 100%;
}

.card-fields {
  margin-top: 10px;
}

ul.list-fields {
  list-style: none;
  width: 100%;
  display: block;
}

ul.list-fields li {
  width: 100%;
  clear: both;
  display: inline-block;
  margin-bottom: 5px;
}

ul.list-fields li input[type=text] {
  clear:both;
  border: 0;
  font-size: 15px;
  padding: 5px 10px;
  background: #f5f8fa;
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0)) left no-repeat, center no-repeat #f5f8fa;
  border-color: #d5d5d5!important;
  border: 1px solid;
  box-shadow: 0 1px 1px rgba(16, 22, 26, 0.1);
  background-clip: padding-box;
  color: #182026;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  width: 100%;
}

ul.list-fields li:last-child {
  border-bottom: 0;
}

.bottom-radius {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 25px;
  border-color: #F1F0F0;
}

.card-img {
  width: 100%;
  display: block;
  clear: both;
}

.card-img img {
  width: 100%;
  display: block;
}

.card-element:first-child {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.card-element:first-child img {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.fromThem {
  border: 1px solid #d5d5d5;
}

.fromThem .card-text {
  background: #F1F0F0;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 15px;
}

.myMessage .card-text {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px;
}

.list-reply-buttons {
  width: 100%;
  display: block;
  text-align: center;
  padding: 15px 15px 10px 15px;
}

.reply-button {
  padding: 5px 10px;
  border: 1px solid #0084FF;
  color: black;
  text-align: center;
  display: inline-table;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.reply-button:hover {
  background: #F1F0F0;
}

.reply-button:last-child {
  margin-right: 0;
}

.card-body-element {
  margin-top: 10px;
  clear: both;
  width: 100%;
  display: block;
}

.card-body-element img {
  width: 100%;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 25px;
}

.card-icon {
  position: absolute;
  z-index: 9999999999;
  left: 45px;
  top: -10px;
}

.card-icon img {
  width: 50px;
}

.bot-icon {
  /*animation: spin 15s linear infinite;*/
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.pt-select {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: normal; }
.pt-select select::-ms-expand {
    display: none; }
.pt-select.pt-large::after {
    top: 0;
    right: 12px;
    line-height: 40px; }
.pt-select.pt-fill,
  .pt-select.pt-fill select {
    width: 100%; }

    .pt-select.pt-fill,
  .pt-select.pt-fill select {
    width: 100%; }
.pt-dark .pt-select::after {
    color: #bfccd6; }

    .pt-select select {
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 10px;
  vertical-align: middle;
  font-size: 14px;
  background: #f5f8fa;
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0)) left no-repeat, center no-repeat #f5f8fa;
  border-color: rgba(16, 22, 26, 0.1) rgba(16, 22, 26, 0.1) rgba(16, 22, 26, 0.17) rgba(16, 22, 26, 0.1);
  box-shadow: 0 1px 1px rgba(16, 22, 26, 0.1);
  background-clip: padding-box;
  color: #182026;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  height: 30px;
  padding: 0 25px 0 10px; }
.pt-select select:hover {
    background: #ebf1f5;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) left no-repeat, center no-repeat #ebf1f5;
    border-color: rgba(16, 22, 26, 0.2) rgba(16, 22, 26, 0.2) rgba(16, 22, 26, 0.27) rgba(16, 22, 26, 0.2);
    box-shadow: 0 1px 1px rgba(16, 22, 26, 0.1);
    background-clip: padding-box; }
.pt-select select:active {
    border-color: rgba(16, 22, 26, 0.35) rgba(16, 22, 26, 0.25) rgba(16, 22, 26, 0.25) rgba(16, 22, 26, 0.25);
    box-shadow: inset 0 1px 1px rgba(16, 22, 26, 0.1);
    background-color: #ced9e0;
    background-image: none; }
.pt-select select:disabled {
    outline: none;
    border-color: transparent;
    box-shadow: none;
    background-clip: border-box;
    background-color: rgba(206, 217, 224, 0.5);
    background-image: none;
    cursor: not-allowed;
    color: rgba(92, 112, 128, 0.5); }
.pt-select.pt-large select {
  height: 40px;
  padding-right: 35px;
  font-size: 16px; }
.pt-dark .pt-select select {
  background: rgba(255, 255, 255, 0.1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.06)) left no-repeat;
  border-color: rgba(16, 22, 26, 0.6);
  box-shadow: 0 1px 1px rgba(16, 22, 26, 0.2);
  background-clip: padding-box;
  color: #f5f8fa; }
.pt-dark .pt-select select:hover, .pt-dark .pt-select select:active {
    color: #f5f8fa; }
.pt-dark .pt-select select:hover {
    background: rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, rgba(16, 22, 26, 0.1), rgba(16, 22, 26, 0.2)) left no-repeat, center no-repeat rgba(255, 255, 255, 0.1);
    border-color: rgba(16, 22, 26, 0.8);
    box-shadow: 0 1px 1px rgba(16, 22, 26, 0.2);
    background-clip: padding-box; }
.pt-dark .pt-select select:active {
    box-shadow: inset 0 1px 1px rgba(16, 22, 26, 0.2);
    background-color: rgba(16, 22, 26, 0.1);
    background-image: none; }
.pt-dark .pt-select select:disabled {
    border-color: rgba(206, 217, 224, 0.1);
    box-shadow: none;
    background-color: rgba(206, 217, 224, 0.1);
    background-image: none;
    color: rgba(191, 204, 214, 0.5); }
.pt-select select:disabled {
  box-shadow: none;
  background-color: rgba(206, 217, 224, 0.5);
  cursor: not-allowed;
  color: rgba(92, 112, 128, 0.5); }
.pt-select::after {
  line-height: 1;
  font-family: "Icons16", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  right: 7px;
  line-height: 30px;
  color: #5c7080;
  content: "⌄";
  pointer-events: none; }